# ============================================
# Data Source — PostgreSQL
# ============================================
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# ============================================
# Apache Kafka
# ============================================
KAFKA_BOOTSTRAP_SERVERS=localhost:29092
KAFKA_CLUSTER_ID=4L6Np67psS769p968P7yEA

# ============================================
# Schema Registry
# ============================================
SCHEMA_REGISTRY_URL=http://localhost:8081

# ============================================
# Kafka Connect (Debezium)
# ============================================
CONNECT_URL=http://localhost:8083

# ============================================
# ClickHouse (OLAP)
# ============================================
CLICKHOUSE_HOST=localhost
CLICKHOUSE_PORT=8123
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=

# ============================================
# MinIO (Data Lake — S3 Compatible)
# ============================================
MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=streaming-data

# ============================================
# Apache Flink
# ============================================
FLINK_JOBMANAGER_URL=http://localhost:8081

